openapi: 3.1.0
info:
  title: Travelport TripServices Flights Booking Reservations API
  version: '11'
  description: 'RESTful JSON API for end-to-end air travel workflows (search, price, book,

    ticket, cancel, exchange) over GDS and NDC content. Endpoints derived from

    the Travelport developer portal at https://developer.travelport.com/apis/flights.

    '
  contact:
    name: Travelport Developer Support
    url: https://developer.travelport.com/support
servers:
- url: https://api.travelport.net/11
  description: Production
- url: https://api.pp.travelport.net/11
  description: Sandbox (Pre-Production)
security:
- BearerAuth: []
tags:
- name: Reservations
paths:
  /air/book/reservation/reservations/{Identifier}:
    get:
      tags:
      - Reservations
      summary: Retrieve a reservation by identifier
      parameters:
      - in: path
        name: Identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reservation
    post:
      tags:
      - Reservations
      summary: Operate on a reservation by identifier
      parameters:
      - in: path
        name: Identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Result
  /air/book/reservation/reservations/getbylocator:
    get:
      tags:
      - Reservations
      summary: Retrieve reservation by locator
      responses:
        '200':
          description: Reservation
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Travelport-issued JWT bearer token in the Authorization header.
