openapi: 3.2.0
info:
  title: Travelport TripServices Flights Search API
  version: '11'
  description: 'RESTful JSON API for end-to-end air travel workflows (search, price, book,

    ticket, cancel, exchange) over GDS and NDC content. Endpoints derived from

    the Travelport developer portal at https://developer.travelport.com/apis/flights.'
  contact:
    name: Travelport Developer Support
    url: https://developer.travelport.com/support
servers:
- url: https://api.travelport.net/11
  description: Production
- url: https://api.pp.travelport.net/11
  description: Sandbox (Pre-Production)
security:
- BearerAuth: []
tags:
- name: Search
paths:
  /air/search/airAvailability:
    post:
      tags:
      - Search
      summary: Air availability search
      responses:
        '200':
          description: Availability response
      operationId: postAirSearchAirAvailability
      x-operation-id-source: derived
  /air/catalog/search/catalogproductofferings:
    post:
      tags:
      - Search
      summary: Search catalog product offerings
      responses:
        '200':
          description: Catalog offerings
      operationId: postAirCatalogSearchCatalogproductofferings
      x-operation-id-source: derived
  /air/catalog/search/catalogproductofferings/buildnext:
    post:
      tags:
      - Search
      summary: Build next page of catalog offerings
      responses:
        '200':
          description: Next page
      operationId: postAirCatalogSearchCatalogproductofferingsBuildnext
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Travelport-issued JWT bearer token in the Authorization header.
